parametersSchema:
    conditionalFinal: structure([
        forbiddenFinalAttributes: listOf(string())
    ])

parameters:
    conditionalFinal:
        forbiddenFinalAttributes: []

services:
    -
        class: Topotru\PHPStan\ConditionalFinal\Rule
        arguments:
            forbiddenFinalAttributes: %conditionalFinal.forbiddenFinalAttributes%
        tags:
            - phpstan.rules.rule
